.linkButton {
  width: 100%;
  color: white;
  background-color: var(--red);
  text-decoration: none;
  border-radius: 8px;
  font-size: 28px;
  font-weight: bold;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .linkButton {
    height: 40px;
    font-size: 14px;
  }
  
}